html {
    display: flex;
    flex-direction: column;
    height:100%;
}

body {
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFE8F4;
    color: #2A2729;
}

h1 {
    font-family: 'Lato', sans-serif;
    padding:0;
}


#grid {
    height: 512px;
    width: 512px;
    display: flex;
    flex-direction: column;
    margin: 32px;
    border-style: solid;
    border-color: #2A2729;
}


.row {
    display: flex;
    flex: 1 1 0%;
    flex-direction: row;
}




.square{
    margin: 0px;
    border: 1px;
    border-style: solid;
    border-color: #2A2729;
    background-color: white;
    flex: 1 1 0%;
    
}

.painted {
    background-color: magenta;
}

button {
    font-size: 20px;
    padding: 16px 32px 16px 32px;
    background-color: #FFC8EB;
    border-style: none;
    border-radius: 12px;
}